@model IEnumerable<ModelLayer.Services.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}
<div class="header-content header">
    <div class="logo-content">
        <img src="~/assets/logo.png" class="logoicon">
        <div >
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
    </div>
</div>


<link rel="stylesheet" href="~/css/EmpPayRoll.css" />

<h2 class="form-list">List Of Employee's</h2>

@*<h1>Index</h1>*@

<p>
    <a class="form-create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Profileimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                <img src="@Url.Content(item.Profileimage)" class="imgindex"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmpId }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
